<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <p><a href="/question">Comience a jugar</a></p>
    <footer> 
      <p> <a href="/author"> 
             Página del autor </a></p>
      <p>José Ángel Corral Benito</p>
      <p>https://github.com/jacorralupm/proyecto</p>
    </footer>   
  </body>
</html>
