<!DOCTYPE html>
<html>
  <head>
    <meta  charset=UTF-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylessheets/style.css'/> 
</head>
<body>
    <h2>Quiz: el juego de las preguntas</h2>
    <form method="get" action="/check">
      <p> Pregunta: <%= question %> </p>
      <input type="text" name="answer" value="<%= answer%>" placeholder="Responda aquí"/>
      <input type="submit" value="Comprobar">
    </form>
    <footer> 
      <p>José Ángel Corral Benito</p>
      <p>https://github.com/jacorralupm/proyecto</p>
    </footer>  
  </body>
</html>
